## La librería sqlite3

SQLite en general, es una base de datos _server-less_ que se puede utilizar en
casi todos los lenguajes de programación, incluido Python. Con _server-less_ 
se quiere indicar que no hay necesidad de instalar un servidor separado para
trabajar con SQLite.

La librería sqlite de pYthon nos permite conectarnos y usar este sistema
gestor de base de datos desde Python.

### Crear una conexión

El primer paso, como siempre,es importar el módulo sqlite3:

In [1]:
import sqlite3

Luego, **crearemos una conexión** a la base de datos llamando a la función `connect()`. Como
parámetro, tenemos que pasarle el nombre del fichero donde está (o estará, si es la primera vez que
nos conectamos) la base de datos:

In [5]:
import sqlite3

con = sqlite3.connect('database.db')

In [7]:
!ls -lsh

total 88K
   0 -rw-r--r-- 1 jileon jileon    0 Oct 22 16:38 database.db
 20K -rw-r--r-- 1 jileon jileon  20K Oct 21 15:18 ejemplo.db
8,0K -rw-r--r-- 1 jileon jileon 8,0K Oct 21 15:01 mydatabase.db
 28K -rw-rw-r-- 1 jileon jileon  28K Oct 21 15:01 sqlite3.md
8,0K -rw-rw-r-- 1 jileon jileon 6,9K Mar 22  2020 sqlite3.rst
 24K -rw-rw-r-- 1 jileon jileon  23K Oct 22 16:38 sqlite.ipynb

Si es la primera vez que nos conectamos, sqlite crea una base de datos nueva
y la almacena en el fichero indicado; en este ejemplo `database.db`.

**Ejercicio**: Crear una base de datos llamada `ejemplo.db`

In [8]:
import sqlite3

con = sqlite3.connect('ejemplo.db')

### Cursores

Para trabajar con los datos en una base de datos relacional se utilizan **sentencias
SQL**. Para ejecutar dichas sentencias, se necesita un objeto `cursor`. Puedes
crearlo utilizando el método `cursor()` de la conexion.

Para ejecutar sentencias de SQLite3, primero se establece una conexión y luego
se crea un objeto cursor utilizando el método `cursor` del objeto de conexión:

In [ ]:
con = sqlite3.connect('ejemplo.db')
cursor = con.cursor()

Ahora podemos usar el objeto `cursor` para llamar a su método `execute()`
para ejecutar cualquier consulta SQL.

#### Crear una base de datos en RAM

Cuando creas una conexión con SQLite, un archivo de base de datos se crea
automáticamente si no existe ya. Este archivo de base de datos se crea en el
disco, ademas, también podemos crear una base de datos en la RAM usando el
nombre especial `:memory:` como parametro de la función de conexión. Esta base
de datos se llama base de datos en memoria.

### Crear una tabla

Para crear una tabla en SQLite3, puede usar la sentencia `CREATE TABLE` en el
método `execute()`. 
Veamos el siguiente ejemplo:

In [13]:
import sqlite3

con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute("""
    CREATE TABLE employee (
        id integer PRIMARY KEY,
        name text,
        salary real
        )
    """)
con.commit()

Para verificar si nuestra tabla está creada, puedes utilizar el navegador de la
base de datos de sqlite para ver tu tabla. Abre tu archivo `ejemplo.db` con
este programa y deberías ver tu tabla:

In [15]:
!ls -lah ejemplo.db

-rw-r--r-- 1 jileon jileon 8,0K Oct 22 16:57 ejemplo.db

### Insertar en una tabla

Para insertar datos en una tabla, usamos la sentencia `INSERT INTO`.

In [53]:
con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute("""
    INSERT INTO employee (id, name, salary)
    VALUES (4, 'Lex Luthor', 1750000.00)
    """)
con.commit()

Podemos verificar que se han insertado los datos con el navegador o con el siguiente programa:

### Consultar datos de una tabla

In [65]:
import sqlite3

con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute("SELECT * FROM employee ORDER BY salary ASC, name DESC")

for row in cur.fetchall():
    print(row)

(22, 'Robert Millhouse', 54000.0)
(1, 'John Smith', 75000.0)
(2, 'Clark Kent', 175000.0)
(4, 'Lex Luthor', 1750000.0)
(3, 'Bruce Wayne', 1750000.0)

In [ ]:
SELECT * 
  FROM tabla, taqbla2
 WHERE predicado
 ORDER BY

### Pasar argumentos a la sentencia SQL

Podemos pasar valores / argumentos a las sentencias INSERT en el método `execute ()`. 
Se usa el signo de interrogación como un indicador por posicion de cada argumento. Luego
hay que añadir como segundo parametro, sdespues de la sentencia SQL, una tupla
con tantos valores como argumentos hayamos declarado en la sentencia.

Como siempre, se ve mejor con un ejemplo:

In [56]:
import sqlite3
    
con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
user_id = 22
user_name = "Robert Mill"
user_salary = 54000.00
cur.execute("""
    INSERT INTO employee (id, name, salary)
    VALUES (?, ?, ?)
    """, (user_id, user_name, user_salary))
con.commit()

### Actualizar una tabla

Para actualizar valores en una tabla se usa la
sentencia `UPDATE` dentro del método `execute()`.

Supongamos que queremos actualizar el nombre del empleado cuyo Id es igual a 2 y que
insertamos en el ejemplo amnteror. **Importante** **Pero Mucho** Tenemos que usaren la sentencia
un `WHERE` como condición para seleccionar a este empleado, si no, se
modificarían todos los empleados de la tabla.

Veamos el ejemplo:

In [64]:
import sqlite3

con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
user_id = 22
new_name = "Robert Millhouse"
cur.execute("""
    UPDATE employee
       SET name = ?
     WHERE id = ?
    """, (new_name, user_id))
con.commit()

### Hacer consultas

#### La Sentencia `SELECT`

La sentencia `SELECT` se usa para seleccionar datos de una tabla en particular.
Si deseas seleccionar todas las columnas de los datos de una tabla, puede usar
el asterisco (*). La sintaxis para esto seria la siguiente:


    SELECT * FROM <table_name>


En SQLite3, ejecutamos la instrucción `SELECT` usando el método `execute` del 
cursor. Por ejemplo para obtener todas las columnas de la tabla de empleados,
ejecutariamos el siguiente código:

    SELECT * FROM employee

Si deseas seleccionar algunas columnas de una tabla solamente, especifica las
columnas de la siguiente manera:

    SELECT <column1>[, <column2>] FROM <table_name>

Por ejemplo:

    SELECT id, name FROM employee


La sentencia select realiza la búsqueda de los datos requeridos desde la 
tabla de la base de datos y a continuación, para obtener los datos 
seleccionados, podemos utilizar el método `fetchall()` del cursor, que nos
devolvería todos los registros encontrador (En este caso, como no hay clausula
`WHERE`, todos). Veamos el siguiente eejmplo:

    con = sqlite3.connect('ejemplo.db')
    cur = con.cursor()
    cur.execute('SELECT * FROM employee')
    rows = cur.fetchall()
    for row in rows:
        print(row)



Obtener todos los datos
También puede usar el fetchall () en una línea de la siguiente manera:

[print(row) for row in cursorObj.fetchall()]

Si deseas obtener datos específicos de la base de datos, puede utilizar la cláusula WHERE. Por ejemplo, queremos obtener los ids y los nombres de aquellos empleados cuyo salario es superior a 800. Para esto, llenemos nuestra tabla con más filas y luego ejecutemos nuestra consulta.

Ejemplo de conuslta: para obtener los ids y los nombres de aquellos empleados que tienen un salario superior a 60000:

In [20]:
import sqlite3

con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute('SELECT id, name FROM employee WHERE salary > 60000.0')
rows = cur.fetchall()
for row in rows:
    print(row)

(1, 'John Smith')

En la sentencia SELECT anterior, en lugar de usar el asterisco (*), especificamos los atributos id y name. El resultado se muestra a continuación:

Select where clause

### SQLite3 rowcount

El SQLite3 `rowcount` es una propiedad de los cursores que sirve para devolver el número de filas afectadas o insertadas por la última consulta SQL ejecutada. Cuando utilizamos el conteo de de filas con la sentencia SELECT, devolverá -1.

Por lo tanto, para obtener el conteo de filas, debes obtener todos los datos y luego obtener la longitud del resultado:

In [31]:
import sqlite3

con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute('SELECT * FROM employee')
rows = list(cur.fetchall())
print(len(rows))

2

Cuando la instrucción DELETE se utiliza sin ninguna condición (una sentencia WHERE), todas las filas de la tabla se eliminarán y el número total de filas eliminadas se devolverá por conteo de filas.

print(cursorObj.execute('DELETE FROM employees').rowcount)

Si no se borra ninguna fila, devolverá 0.

### Listar tablas

Para enumerar todas las tablas en una base de datos SQLite3, puedes consultar la tabla `sqlite_master` y luego usar fetchall() para obtener los resultados de la sentencia `SELECT`. El sqlite_master es la tabla maestra en SQLite3 que almacena informacion de la propia base de datos.

In [74]:
import sqlite3

con = sqlite3.connect('ejemplo.db')

curr = con.cursor()
cur.execute('SELECT type, name from sqlite_master')
for (_type,  name) in cur.fetchall():
    print(_type, name)

table employee
table project

### Comprobar si una tabla existe o no

Al crear una tabla, puede darnos un error si no nos asegurarnos previamente de que la tabla no exista. Del mismo modo, al eliminarla, esta deberia existir o en caso contrario se produce un error. Para evitarnos tener que hacer estas verificaciones previas existe la clausula `if not exists` en la sentencia `CREATE TABLE`:

    create table if not exists table_name (column1, column2, …, columnN)
    
Por ejemplo:

In [71]:
import sqlite3
con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute('create table if not exists project(id integer PRIMARY KEY, name text)')
con.commit()

Igualmente, para evitarnos problemas al eliminar una table, podemos usar `if exists` con `DROP TABLE`:

    drop table if exists table_name
    
Por ejemplo:

In [73]:
import sqlite3
con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute('drop table if exists projects')

También podemos verificar si la tabla a la que queremos acceder existe o no previamente consultado, como vimos antes, la tabla `sqlite_master`::

    SELECT name from sqlite_master WHERE type = "table" AND name = "project"

### Eliminar una tabla

Puedes remover /eliminar una tabla utilizando la sentencia `DROP`. La sintaxis de la sentencia DROP es la siguiente:

    DROP TABLE table_name
    
Para eliminar una tabla, la tabla debe existir en la base de datos, a no ser que usemos la opción `IF EXISTS` con la sentencia `drop`, de la siguiente manera:

    DROP TABLE IF EXISTS table_name

### Excepciones SQLite3

Las excepciones son errores de tiempo de ejecución. en la programación en Python, todas las excepciones son instancias de la clase derivadas de la BaseException. En SQLite3, tenemos las siguientes excepciones principales de Python:

- `DatabaseError`: Cualquier error relacionado con la base de datos genera el DatabaseError.

- `IntegrityError`: una subclase de `DatabaseError` que se genera cuando hay un problema de integridad de los datos, por ejemplo, los datos foráneos no se actualizan en todas las tablas, lo que resulta en una inconsistencia de los datos.

- `ProgrammingError`: Se produce cuando hay errores de sintaxis o no se encuentra la tabla o se llama a la función con un número incorrecto de parámetros / argumentos.

- `OperationalError`: Esta excepción se produce cuando fallan las operaciones de la base de datos, por ejemplo, una desconexión inusual. Esto no es culpa de los programadores.

- `NotSupportedError`: Ocurre cuando se usan métodos que no están definidos o no son compatibles con la base de datos.

### SQLite3 executemany (Inserción por lotes)

Puedes utilizar la sentencia `executemany` para insertar varias filas a la vez. Considera el siguiente código:

In [57]:
import sqlite3

con = sqlite3.connect('ejemplo.db')
cur = con.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS project(id integer, name text)')
proyectos = [
    (1, "Ridesharing"),
    (2, "Water Purifying"),
    (3, "Forensics"),
    (4, "Botany"),
]
cur.executemany("INSERT INTO projects VALUES(?, ?)", proyectos)
con.commit()

Creamos una tabla con dos columnas, luego la variable `proyectos` tiene cuatro valores para cada columna. Esta variable se pasa al método `executemany()` junto con la sentencia SQL. Nótese que hemos utilizado el caracter `?` para pasar los valores.

El código anterior generará el siguiente resultado:

In [52]:
import sqlite3

con = sqlite3.connect('ejemplo.db')

curr = con.cursor()
cur.execute('SELECT * from project')
for row in cur.fetchall():
    print(*row)

 ### Cerrar Conexión

Una vez que haya terminado de utilizar tu base de datos, es una buena práctica cerrar la conexión. La conexión se puede cerrar utilizando el método `close()`.

    con = sqlite3.connect('mydatabase.db')
       ...
    con.close()

### SQLite3 datetime

En la base de datos Python SQLite3, podemos almacenar fácilmente fecha, horas y masrcas temporales, importades desde el módulo datatime. Los siguientes formatos son los formatos más utilizados para datetime:

- `YYYY-MM-DD`

- `YYYY-MM-DD HH:MM`

- `YYYY-MM-DD HH:MM:SS`

- `YYYY-MM-DD HH:MM:SS.SSS`

- `HH:MM`

- `HH:MM:SS`

- `HH:MM:SS.SSS`

- `now`

Observa el siguiente código:

In [75]:
import sqlite3
import datetime

con = sqlite3.connect('ejemplo.db')

cur = con.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS assignment(id integer, name text, date date)')
data = [
    (1, "Ridesharing", datetime.date(2017, 1, 2)),
    (2, "Water Purifying", datetime.date(2018, 3, 4)),
    ]
cur.executemany("INSERT INTO assignment VALUES(?, ?, ?)", data)
con.commit()

En este código, hemos creado una tabla denominada `assignment` con tres columnas. El tipo de datos de la tercera columna es una fecha. Para insertar la fecha en la columna, hemos usado datetime.date.

La gran flexibilidad y movilidad de la base de datos SQLite3 la convierten en la primera opción para que cualquier desarrollador la use y la integre con cualquier producto con el que trabaje. Las bases de datos SQLite3 se utilizan en proyectos de Windows, Linux, Mac OS, Android e iOS debido a su increíble portabilidad. Es un archivo integrado con tu proyecto y listo.